# filesystem remnants
.DS_Store

# Large datasets for test
/tools/largedata/

# Slurm logs
**/*.out
**/*.error

# Apptainer image file
/containers/**/*.sif

# litr knitted html
**/*.html

# input
input

# future cache
.future

# benchmark output qs files
/*.qs