# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# also derived from https://github.com/we-cli/coverage-badge-action
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: test-coverage-local

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::covr
          needs: coverage

      - name: Cache C++ and R dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/R
            ~/.local/share/R
          key: dependencies-${{ runner.os }}-${{ hashFiles('**/DESCRIPTION') }}
          restore-keys: |
            dependencies-${{ runner.os }}-

      - name: Test coverage
        run: |
          Rscript -e "covpack<-covr::package_coverage(install_path='${{ github.workspace }}/cov', lib.loc=.libPaths(), clean=FALSE); \
          covd<-covr::coverage_to_list(covpack)$totalcoverage; \
          write.table(covd[length(covd)], file = '${{ github.workspace }}/local_cov.Rout', row.names = F, col.names = F)"
        shell: bash

      - name: Get Values
        id: get-values
        shell: bash
        run: |
          COV=$(cat ${{ github.workspace }}/local_cov.Rout)
          echo "coverage=$COV" >> $GITHUB_OUTPUT

      - name: Checkout gh-pages
        uses: actions/checkout@v4
        with:
          ref: gh-pages
  
      - name: Create Badges
        shell: bash
        run: |
          npm i -g badgen-cli
          export COV=${{ steps.get-values.outputs.coverage }}
          COLOR=$(node -p '+process.env.COV >= 95 ? `green` : `orange`')
          mkdir -p badges
          badgen -j coverage -s $COV% -c $COLOR > badges/coverage.svg
  
      - name: Deploy Badges
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update badges [skip ci]"
          branch: gh-pages
          skip_fetch: true
          skip_checkout: true
  
      # Without this, will get Error:
      # Can't find 'action.yml', 'action.yaml' or 'Dockerfile' under '/home/runner/work/coverage-badge-action/coverage-badge-action/action.yml'.
      # Did you forget to run actions/checkout before running your local action?
      - name: Checkout Back
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }} 

      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-outputs
          path: ${{ github.workspace }}/cov